body {
  background-color: black;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

header {
  color: white;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: 20px 20px 0;
}

h1 {
  color: #99D19C;
  font-family: $title-font;
  font-size: 65px;
  margin: 0;
  margin-top: 10px;
  text-align: center;
}

h2 {
  color: #EDDFEF;
  font-family: $body-font;
  font-size: 18px;
  margin: 10px 0;
}

h3 {
  font-family: $body-font;
  font-size: 24px;
  margin-top: 0;
}

h4 {
  color: purple;
  font-family: $body-font;
  font-size: 18px;
  margin: 0;
  margin-top: 15px;
  text-align: center;
}

p {
  font-family: $body-font;
  font-size: 18px;
  white-space: pre-wrap;
}

button {
  @include button-style();

  &:hover {
    @include button-hover();
  }
}

.game-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  justify-content: space-between;
  padding: 10px;
}

.step-containers {
  align-content: space-between;
  background-color: #E5FCF5;
  border-radius: 10px;
  color: #003249;
  display: grid;
  filter: drop-shadow(3px 3px 8px grey);
  height: 480px;
  margin: 10px;
  padding: 20px;
}

.app-buttons {
  @include button-style();
  filter: drop-shadow(3px 3px 8px grey);
  
  &:hover {
    @include button-hover();
  }
}

.right-header-buttons {
  margin: 10px 0 10px auto;
}

#skip-button {
  margin: 5px 0px;
}

#difficulty-text {
  display: block;
  margin-top: 5px;
}

@media screen and (max-width: 1300px) {
  header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }

  h1 {
    font-size: 50px;
  }
}


@media screen and (max-width: 1175px) {
  header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 950px) {
  header {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  h1 {
    order: -1;
    font-size: 40px;
  }

  h2 {
    text-align: center;
  }

  .left-info-container {
    margin: 5px auto;
  }

  .app-buttons {
    width: 280px;
  }

  .right-header-buttons {
    margin: 0 auto;
  }

  #skip-button {
    margin: 0 auto;
  }

  #instructions-button {
    margin-bottom: 10px;
  }

  .game-container {
    grid-template-columns: 1fr;
  }

  .step-containers {
    height: 300px;
  }

  #step-3-container {
     height: 480px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  p,
  label {
    font-size: 16px;
  }

}