body {
  background-color: black;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

header {
  color: white;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: 20px 20px 0;
}

h1 {
  color: #99D19C;
  font-family: $title-font;
  font-size: 60px;
  margin: 0;
  text-align: center;
}

h2 {
  color: #E5FCF5;
  font-family: $body-font;
  margin-top: 10px;
}

h3 {
  font-family: $body-font;
  font-size: 24px;
  margin-top: 0;
}

h4 {
  font-family: $body-font;
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
  text-align: center;
}

p {
  font-family: $body-font;
  font-size: 20px;
}

button {
  @include button-style();
}

.game-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  justify-content: space-between;
  padding: 10px;
}

.step-containers {
  align-content: space-between;
  background-color: #E5FCF5;
  border-radius: 10px;
  color: #003249;
  display: grid;
  filter: drop-shadow(3px 3px 8px grey);
  height: 500px;
  margin: 10px;
  padding: 20px;
}

#instructions-button {
  @include button-style();
  filter: drop-shadow(3px 3px 8px grey);
  margin: 10px 0 10px auto;
}

#difficulty-text {
  display: block;
  margin-top: 5px;
}