.instruction-container {
  background-color: #EDDFEF;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 40px purple;
  color: #003249;
  height: 300px;
  margin-left: 350px;
  margin-top: -550px;
  padding: 25px;
  position: absolute;
  width: 700px;;
  z-index: 12;

  p {
    font-size: 16px;
  }
}