.instruction-container {
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  margin-top: -500px;
  margin-left: 350px;
  height: 280px;
  width: 700px;;
  z-index: 12;
  padding: 20px;
}