  @mixin button-style() {
    background-color: #EDDFEF;
    border: 1px solid purple;
    border-radius: 5px;
    color: purple;
    display: block;
    filter: drop-shadow(3px 3px 5px grey);
    font-family: $body-font;
    font-size: 20px;
    height: 40px;
    margin: 10px auto;
    width: 180px;
  }
