label {
  display: block;
  font-family: $body-font;
  font-size: 20px;
}

input {
  color: #003249;
  border: 1px solid purple;
  filter: drop-shadow(3px 3px 5px grey);
  height: 20px;
  margin: 10px;
  padding: 5px;
  width: 170px;
}

#step-2-container {
  animation-name: step2SlideIn;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes step2SlideIn {
  0% {
    transform: translateX(-700px)
  }
  100% {
    transform: translateY(0px)
  }
}