textarea {
  display: block;
  min-width: 390px;
  margin: 0 auto;
  border: 1px solid grey;
}

label {
  text-align: center;
}

input {
  border: 1px solid grey;
  margin: 10px;
  padding: 5px;
  height: 20px;
}

