label {
  text-align: center;
}

.code-editor {
  filter: drop-shadow(3px 3px 5px grey);
  font-size: 18px;
  max-width: 640px;
}

#step-3-container {
  animation-name: step3SlideIn;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes step3SlideIn {
  0% {
    transform: translateX(-1500px)
  }
  100% {
    transform: translateY(0px)
  }
}

